<h3>
    📚 <b>Тема:</b>
    <th:block th:text="${title}">Название</th:block>
</h3>

<footer>
    <b>Раздел:</b>
    <th:block th:text="${section}">Раздел</th:block>
</footer>

<hr/>

<h6>
    <b>Самостоятельная работа №:</b>
    <b th:text="${selfTaskNumber}">20</b>

<br/>

    <b>Уровень:</b>
    <b th:text="${taskLevel}">INITIAL</b>

<br/>

    <b>Задание №:</b>
    <b th:text="${taskNumber}">7</b>
</h6>

<hr/>

<blockquote th:utext="${taskText}">
    Текст задания
</blockquote>

<hr/>

📖 <b>Страница:</b>
<b th:text="${pageNumber}">70</b>