<h3>🇩🇪 Новая карточка</h3>

<hr/>

<table>
    <tr>
        <td><b>📝 Предложение</b></td>
        <td align="left">
            <th:block th:text="${sentence}">Ich lerne jeden Tag Deutsch.</th:block>
        </td>
    </tr>
    <tr>
        <td><b>💡 Пример</b></td>
        <td align="left">
            <th:block th:text="${example}">Ich lerne Deutsch, weil ich in Deutschland lebe.</th:block>
        </td>
    </tr>
    <tr>
        <td><b>🇷🇺 Перевод</b></td>
        <td align="left">
            <th:block th:text="${translation}">Я учу немецкий, потому что живу в Германии.</th:block>
        </td>
    </tr>
</table>

<hr/>

<b>💾 Эта карточка будет сохранена после подтверждения.</b>