<h3>⭐️ Anki</h3>

<hr/>

<h3>📚 Статистика колод</h3>

<table>
    <tr>
        <th>Колода</th>
        <th>Статус</th>
        <th>Страйк</th>
    </tr>

    <tr th:each="entry : ${strikesTemplateData}">
        <td>
            <b th:text="${entry.key}">Java</b>
        </td>

        <td align="center">
            <th:block th:text="${progressTemplateData.get(entry.key)}">
                В процессе
            </th:block>
        </td>

        <td align="center">
            🔥 <b th:text="${entry.value}">7</b>
        </td>
    </tr>
</table>

<hr/>

📚 <b>Карточек сегодня:</b>
<b th:text="${numCardsReviewedToday}">25</b> 🎯
<br/>
<br/>
