<h2>👋 Добро пожаловать в radix!</h2>

<hr/>

<h3>🚀 Что будем изучать?</h3>

<table>
    <tr>
        <td>🔢</td>
        <td>
            <b>Системы счисления</b>
            <br/>
            Перевод чисел между десятичной, двоичной и шестнадцатеричной системами.
        </td>
    </tr>

    <tr>
        <td>⚛️</td>
        <td>
            <b>Задачи по физике</b>
            <br/>
            Решай задачи и проверяй свои знания по физике.
        </td>
    </tr>

    <tr>
        <td>🧠</td>
        <td>
            <b>Карточки Anki</b>
            <br/>
            Изучай разные темы с помощью интервального повторения.
        </td>
    </tr>

    <tr>
        <td>🇩🇪</td>
        <td>
            <b>DuoCards</b>
            <br/>
            Учи немецкий язык с помощью карточек и интервального повторения.
        </td>
    </tr>
</table>

<hr/>

<aside align="center">
    <b>👇 Выбери направление ниже и начни обучение!</b>
</aside>